body{
    margin: 0 auto;
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    height: 100vh;
}


a{
    text-decoration: none;
    color:#f1d695;
    
}

#home {
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 40px;
    text-shadow: 1px 1px 2px rgb(58, 57, 57);
}

#content{ 
    position: relative;
    margin:0 auto;
    font-size: 36px;
    font-family: 'Eczar', serif;

    background-color: rgba(247, 121, 125, 0.4);
    width:900px;
    border-radius: 8px;
    top: 20px;   

}

#content p{
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(14, 0, 0);
}

#socials{
    margin-left: 12rem;
}
.horizontallist li {
    display:inline-block ;
    list-style: none;
    padding: 20px;
    font-size: 30px;
    margin: 0px 14px 14px 0px;
    
}
.horizontallist li a {
    color: white;
    text-decoration: none;
}

li a i{
    font-size: 2.5rem;
    padding: 10px;
    border-radius: 90%;
    color: rgb(253, 85, 85);
}

li a i:hover{
    box-shadow: 0px 0px 4px 6px rgba(255, 150, 150, 0.836);
}

